html {
  scroll-behavior: smooth;
}

.gjs-container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.gjs-section {
  display: flex;
  padding: 50px 0;
}

#it1pa {
  color: #2B1105;
  font-family: Montaga;
  font-size: 50px;
  text-align: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-weight: 400;
}

#isfj7 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  object-fit: cover;
  height: 412px;
  width: 100%;
  max-width: 700px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

#izbaj {
  background-color: #C6754D;
}

.gjs-plg-flex-column {
  flex-grow: 1;
}

#i46ei {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

#i8852 {
  flex-basis: 50%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.gjs-plg-flex-row {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
}

#ivvvi {
  width: 100%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  gap: 20px;
}

#i6b1i {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

#ih84j {
  font-family: Montaga;
  color: #FCF9F7;
  font-size: 40px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-weight: 400;
}

#iroo2 {
  flex-basis: 50%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#i9b8e {
  flex-basis: 50%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

#iyav5 {
  width: 100%;
  gap: 20px;
}

#ia291 {
  width: 77.376%;
  height: 611px;
  object-fit: cover;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

#i2v2q {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: #2B1105;
  font-size: 40px;
  font-family: Montaga;
  font-weight: 400;
}

#i55dc {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 25px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Montaga;
  color: #2A1105;
  font-size: 40px;
  font-weight: 400;
}

#ixg5f {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#iqunl {
  margin-top: 30px;
  object-fit: cover;
  margin-bottom: 30px;
  width: 63.399%;
  height: 453px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

#i2djm {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  font-family: Montaga;
  font-size: 20px;
  font-weight: 400;
  color: #C6754D;
}

#inttd {
  font-family: Montaga;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: #2B1105;
  font-size: 40px;
  font-weight: 400;
}

#ifc6f {
  flex-basis: 50%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#ia291-2 {
  object-fit: cover;
  width: 77.757%;
  height: 614px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

#i2cy3 {
  flex-basis: 50%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#i0ebi {
  width: 100%;
  gap: 20px;
}

#iredq {
  color: #2B1105;
  font-family: Montaga;
  font-size: 40px;
  font-weight: 400;
}

#itunc {
  flex-basis: 50%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

#ia291-3 {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

#ihmxx {
  flex-basis: 50%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#iilvc {
  width: 100%;
  gap: 20px;
}

#iwu5t {
  padding-top: 15px;
  padding-bottom: 15px;
}

#io318 {
  padding: 10px;
  display: inline-block;
  font-family: Montaga;
  color: #2B1105;
  font-size: 20px;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  border-bottom-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-style: solid;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
}

#invgi {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#iiq6gu {
  padding-top: 0px;
  padding-bottom: 0px;
}

#i1if {
  background-color: #FCF9F7;
}

#iva8tv {
  white-space: pre-wrap;
  display: block;
  color: #C6754D;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-family: Montaga;
  font-size: 20px;
}

#ikt0g {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#iu63nh {
  white-space: pre-wrap;
  display: block;
  color: #C6754D;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-family: Montaga;
  font-size: 20px;
}

#ixwp15 {
  white-space: pre-wrap;
  display: block;
  font-family: Montaga;
  color: #FCF9F7;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}

#iaowwc {
  white-space: pre-wrap;
  font-family: Montaga;
  color: #FCF9F7;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}

#i4ibqo {
  white-space: pre-wrap;
  display: block;
  font-family: Montaga;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
}

#ia5gix {
  white-space: pre-wrap;
  display: block;
  font-family: Montaga;
  font-size: 20px;
  font-weight: 400;
}

#imasrv {
  white-space: pre-wrap;
  display: block;
  font-family: Montaga;
  font-size: 20px;
  font-weight: 400;
}

#ibt2za {
  white-space: pre-wrap;
  display: block;
  font-family: Montaga;
  color: #2A1105;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
}

#i5ndrj {
  white-space: pre-wrap;
  display: block;
  font-family: Montaga;
  color: #2A1105;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
}

#isflrt {
  white-space: pre-wrap;
  display: block;
  font-family: Montaga;
  color: #2A1105;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
}

#inqkkw {
  white-space: pre-wrap;
  display: block;
  color: #C6754D;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: Montaga;
}

#i5mri6 {
  white-space: pre-wrap;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  font-family: Montaga;
}

#ip02mu {
  white-space: pre-wrap;
  display: block;
  color: #2B1105;
  font-size: 20px;
  font-family: Montaga;
}

#i144dj {
  white-space: pre-wrap;
  display: block;
  color: #2B1105;
  font-size: 20px;
  font-family: Montaga;
}

#i5706o {
  white-space: pre-wrap;
  display: block;
  color: #2B1105;
  font-family: Montaga;
  font-size: 20px;
}

#ig972t {
  white-space: pre-wrap;
  display: block;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-family: Montaga;
  color: #2B1105;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

#io318-2 {
  padding: 10px;
  display: inline-block;
  font-family: Montaga;
  color: #2B1105;
  font-size: 20px;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  border-bottom-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-style: solid;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
}

#io318-3 {
  padding: 10px;
  display: inline-block;
  font-family: Montaga;
  color: #2B1105;
  font-size: 20px;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  border-bottom-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-style: solid;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
}

#io318-4 {
  padding: 10px;
  display: inline-block;
  font-family: Montaga;
  color: #2B1105;
  font-size: 20px;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  border-bottom-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-style: solid;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
}

#io318-5 {
  padding: 10px;
  display: inline-block;
  font-family: Montaga;
  color: #2B1105;
  font-size: 20px;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  border-bottom-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-style: solid;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
}

#io318-6 {
  padding: 10px;
  display: inline-block;
  font-family: Montaga;
  color: #2B1105;
  font-size: 20px;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  border-bottom-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-style: solid;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
}

#io318:hover {
  border-bottom-style: solid;
  border-top-color: rgba(43, 17, 5, 0.66);
  border-right-color: #2B1105;
  border-bottom-color: #2B1105;
  border-left-color: #2B1105;
  transition: border 0.8s linear 0s;
  border-top-style: solid;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
}

#io318-6:hover {
  border-bottom-style: solid;
  border-top-color: rgba(43, 17, 5, 0.66);
  border-right-color: #2B1105;
  border-bottom-color: #2B1105;
  border-left-color: #2B1105;
  transition: border 0.8s linear 0s;
  border-top-style: solid;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
}

#io318-5:hover {
  border-bottom-style: solid;
  border-top-color: rgba(43, 17, 5, 0.66);
  border-right-color: #2B1105;
  border-bottom-color: #2B1105;
  border-left-color: #2B1105;
  transition: border 0.8s linear 0s;
  border-top-style: solid;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
}

#io318-4:hover {
  border-bottom-style: solid;
  border-top-color: rgba(43, 17, 5, 0.66);
  border-right-color: #2B1105;
  border-bottom-color: #2B1105;
  border-left-color: #2B1105;
  transition: border 0.8s linear 0s;
  border-top-style: solid;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
}

#io318-3:hover {
  border-bottom-style: solid;
  border-top-color: rgba(43, 17, 5, 0.66);
  border-right-color: #2B1105;
  border-bottom-color: #2B1105;
  border-left-color: #2B1105;
  transition: border 0.8s linear 0s;
  border-top-style: solid;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
}

#io318-2:hover {
  border-bottom-style: solid;
  border-top-color: rgba(43, 17, 5, 0.66);
  border-right-color: #2B1105;
  border-bottom-color: #2B1105;
  border-left-color: #2B1105;
  transition: border 0.8s linear 0s;
  border-top-style: solid;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
}

.gjs-icon {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  vertical-align: middle;
  fill: currentColor;
  width: 50px;
  height: 50px;
}

.navbar-menu-toggle {
  margin: 10px 0;
  padding: 5px 10px;
  display: none;
  cursor: pointer;
}

.navbar-menu-nav {
  padding: 10px 0;
  display: flex;
  gap: 20px;
}

.navbar-cnt {
  max-width: 950px;
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar {
  background-color: #222;
  color: #ddd;
  min-height: 50px;
  width: 100%;
}

.navbar-items-c {
  display: inline-block;
  float: right;
}

.navbar-brand {
  vertical-align: top;
  display: inline-block;
  padding: 5px;
  min-height: 50px;
  min-width: 50px;
  color: inherit;
  text-decoration: none;
}

#i3tymg {
  background-color: transparent;
}

#ib7lqg {
  max-width: 1200px;
  width: 90%;
  align-items: center;
  flex-direction: row;
}

#i1qj4k {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-family: Montaga;
  color: #2B1105;
  font-size: 20px;
  cursor: pointer;
}

#i96nbw {
  padding-top: 0px;
  padding-bottom: 0px;
}

#iew548 {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-family: Montaga;
  color: #2B1105;
  font-size: 20px;
  cursor: pointer;
}

#iv2q03 {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-family: Montaga;
  color: #2B1105;
  font-size: 20px;
  cursor: pointer;
}

#i5mkeu {
  order: 2;
}

#if06ly {
  color: black;
  width: 120px;
}

#ibwkhh {
  order: 3;
}

#iaoy7m {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-family: Montaga;
  color: #2B1105;
  font-size: 20px;
  cursor: pointer;
}

#i8ljmi {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-family: Montaga;
  color: #2B1105;
  font-size: 20px;
  cursor: pointer;
}

#is3xdl {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-family: Montaga;
  color: #2B1105;
  font-size: 20px;
  cursor: pointer;
}

#iaf28o {
  padding-top: 0px;
  padding-bottom: 0px;
}

#i4k68k {
  order: 1;
}

#is3xdl-2 {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-family: Montaga;
  color: #2B1105;
  font-size: 20px;
  display: none;
  cursor: pointer;
}

#is3xdl-2-2 {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-family: Montaga;
  color: #2B1105;
  font-size: 20px;
  display: none;
  cursor: pointer;
}

#is3xdl-2-2-2 {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-family: Montaga;
  color: #2B1105;
  font-size: 20px;
  display: none;
  cursor: pointer;
}

#iaoy7m:hover {
  background-color: #2B1105;
  color: #FCF9F7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: background 0.8s ease 0s;
}

#i8ljmi:hover {
  background-color: #2B1105;
  color: #FCF9F7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: background 0.8s ease 0s;
}

#is3xdl:hover {
  background-color: #2B1105;
  color: #FCF9F7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: background 0.8s ease 0s;
}

#is3xdl-2:hover {
  background-color: #2B1105;
  color: #FCF9F7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: background 0.8s ease 0s;
}

#is3xdl-2-2:hover {
  background-color: #2B1105;
  color: #FCF9F7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: background 0.8s ease 0s;
}

#is3xdl-2-2-2:hover {
  background-color: #2B1105;
  color: #FCF9F7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: background 0.8s ease 0s;
}

#i1qj4k:hover {
  background-color: #2B1105;
  color: #FCF9F7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: background 0.8s ease 0s;
}

#iew548:hover {
  background-color: #2B1105;
  color: #FCF9F7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: background 0.8s ease 0s;
}

#iv2q03:hover {
  background-color: #2B1105;
  color: #FCF9F7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: background 0.8s ease 0s;
}

@media (max-width: 992px) {
  #iaoy7m {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }

  #i8ljmi {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }

  #is3xdl {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }

  #i1qj4k {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }

  #iew548 {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }

  #iv2q03 {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }

  #iy79y {
    width: 95%;
  }

  #i46ei {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  #i8852 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  #ixwp15 {
    font-size: 18px;
  }

  #iaowwc {
    font-size: 18px;
  }

  #ivvvi {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }

  #ifc6f {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }

  #i2cy3 {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }

  #iroo2 {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }

  #i9b8e {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }

  #itunc {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }

  #ihmxx {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 768px) {
  #iqtuc4 {
    width: 35px;
    height: 35px;
  }

  .navbar-menu-toggle {
    display: block;
  }

  .navbar-menu-nav {
    width: 100%;
    flex-direction: column;
  }

  .navbar-items-c {
    display: none;
    width: 100%;
  }

  #ib7lqg {
    flex-direction: row;
    width: 100%;
  }

  #iaoy7m {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }

  #i8ljmi {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }

  #is3xdl {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }

  #i5mkeu {
    order: 0;
  }

  #is3xdl-2 {
    display: block;
  }

  #is3xdl-2-2 {
    display: block;
  }

  #is3xdl-2-2-2 {
    display: block;
  }

  #ivvvi {
    flex-direction: column;
  }

  #i0ebi {
    flex-direction: column-reverse;
    gap: 5px;
  }

  #i4ibqo {
    font-size: 18px;
  }

  #ia5gix {
    font-size: 18px;
  }

  #imasrv {
    font-size: 18px;
  }

  #inttd {
    font-size: 30px;
  }

  #i55dc {
    font-size: 30px;
    text-align: center;
  }

  #ibt2za {
    font-size: 18px;
    width: 100%;
  }

  #i5ndrj {
    font-size: 18px;
    width: 100%;
  }

  #isflrt {
    font-size: 18px;
    width: 100%;
  }

  #iqunl {
    width: 100%;
  }

  #iroo2 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  #i9b8e {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  #iyav5 {
    flex-direction: column-reverse;
    gap: 5px;
  }

  #i2v2q {
    font-size: 30px;
  }

  #i5mri6 {
    font-size: 18px;
  }

  #ip02mu {
    font-size: 18px;
  }

  #i144dj {
    font-size: 18px;
  }

  #inqkkw {
    font-size: 18px;
  }

  #iilvc {
    flex-direction: column;
  }

  #i5706o {
    font-size: 18px;
  }

  #iredq {
    font-size: 30px;
  }

  #invgi {
    width: 95%;
    gap: 5px;
  }

  #io318 {
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    font-size: 18px;
  }

  #io318-6 {
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    font-size: 18px;
  }

  #io318-5 {
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    font-size: 18px;
  }

  #io318-4 {
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    font-size: 18px;
  }

  #io318-3 {
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    font-size: 18px;
  }

  #io318-2 {
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    font-size: 18px;
  }

  #ig972t {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 18px;
  }

  #ik2lz7 {
    width: 95%;
  }

  #isfj7 {
    width: 100%;
  }
}

@media (max-width: 480px) {
  #iaoy7m {
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
  }

  #i8ljmi {
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
  }

  #is3xdl {
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
  }

  #is3xdl-2 {
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
  }

  #is3xdl-2-2 {
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
  }

  #is3xdl-2-2-2 {
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
  }

  #ivvvi {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  #i46ei {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  #i8852 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  #ifc6f {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  #i2cy3 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  #inttd {
    font-size: 30px;
  }

  #i55dc {
    text-align: center;
  }

  #iroo2 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  #i9b8e {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  #itunc {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  #ihmxx {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  #invgi {
    flex-wrap: wrap;
  }

  #iqtuc4 {
    color: #2b1105;
  }

  #if06ly {
    width: 78px;
    height: 66px;
  }
}